@model IEnumerable<FaceBook_InitialVersion.Models.Person>






<form method="post">

    @if (Model.Count() > 0)
    {
        <br /><br />
        <table class="table table-striped table-bordered">
            <tr class="table-hover">
                <th> @Html.DisplayNameFor(M => M.FirstName)</th>
                <th> @Html.DisplayNameFor(M => M.LastName)</th>
                <th> @Html.DisplayNameFor(M => M.Email)</th>
                <th> @Html.DisplayNameFor(M => M.Gender)</th>
                <th></th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.FirstName)</td>
                    <td>@Html.DisplayFor(m => item.LastName)</td>
                    <td>@Html.DisplayFor(m => item.Email)</td>
                    <td>@Html.DisplayFor(m => item.Gender)</td>

                    <td>
                        @if (item.State == Enums.UserStatus.Active)
                        {
                            <a asp-action="Block" asp-controller="Admin" asp-route-id="@item.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-method="post" data-ajax-update="#Search"
                               class="btn btn-danger ifn-sm">Block</a>
                        }
                        else if (item.State == Enums.UserStatus.Blocked)
                        {
                            <a asp-action="Activate" asp-controller="Admin" asp-route-id="@item.Id" data-ajax="true" data-ajax-mode="replace" data-ajax-method="get" data-ajax-update="#Search" class="btn btn-success ifn-sm">Activate</a>

                        }

                    </td>

                </tr>

            }

        </table>

    }

</form>