@model Person

<div id="myDiv">
    <a asp-controller="Person" asp-action="ConfirmFriendRequest" asp-route-currentUserName="@User.Identity.Name" asp-route-FriendUserName="@Model.UserName" class="btn btn-success"> Confirm</a>
    <a asp-controller="Person" asp-action="DeleteFriendRequest" asp-route-currentUserName="@User.Identity.Name" asp-route-FriendUserName="@Model.UserName" class="btn btn-danger"> Delete</a>


    
    @*<a asp-controller="Person" asp-action="DeleteFriendRequest" 
                              asp-route-UserID="@Model._userID" asp-route-FriendUserName="@Model.Friend.UserName"
                              class="btn btn-danger" 
                              data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#myDiv"
                              > Delete</a>*@
    
    @*@Html.ActionLink("Remove", "Delete", "Products", new { id=item.ID}, new
    {
        data_ajax = "true",
        data_ajax_method = "GET",
        data_ajax_mode = "replace",
        data_ajax_update = "#MyData"
    })*@



</div>
