@model FaceBook_InitialVersion.Models.PersonModelView
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@{
    ViewData["Title"] = "Profile";
}

@*Link to Profile & (edit info if you are the current user else add friend/remove friend )  *@
<div class="theme-layout">

    <section>
        <div class="feature-photo">
            <figure>  <img src="~/images/timeline-1.jpeg" alt="can't load cover photo" /></figure>
            @*<div class="add-btn">*@
                @{
                    
                    if ((SignInManager.IsSignedIn(User)) && !(User.Identity.Name == @Model.CurrentUser.UserName))
                    {
                        // login person => User.Identity.Name
                        //@Model now is Map To friend
                        if (@Model.myFriends.Any(F => F.UserName == User.Identity.Name))
                        {
                            <div id="friendshipState">
                                <partial name="_RemoveFriendFromProfilePartial" model="@Model.CurrentUser" />
                            </div>
                        }
                        else if (@Model.CurrentUser.FriendsRequest.Any(F => F.User.UserName == User.Identity.Name))
                        {
                            <div id="friendshipState">
                                @*// friend sent friend request to you*@
                                <partial name="_DeleteRequestToFriendPartial" model="@Model.CurrentUser" />
                            </div>
                        }
                        else if (@Model.CurrentUser.MyRequests.Any(F => F.Friend.UserName == User.Identity.Name))
                        {
                            <!--<div id="friendshipState">
                    @*// you sent the friend request to him*@
                    <partial name="_ConfirmDeleteFriendRequestPartial" model="@Model.CurrentUser" />
                </div>-->
                        }
                        else
                        {
                            <div id="friendshipState">
                                <partial name="_AddFriendPartial" model="@Model.CurrentUser" />
                            </div>
                        }
                    }

                }
            @*</div>*@
            <form class="edit-phto">
                <i class="fa fa-camera-retro"></i>
                <label class="fileContainer">
                    Edit Cover Photo
                    <input type="file">
                </label>
            </form>
            <div class="container-fluid">
                <div class="row merged">
                    <div class="col-lg-2 col-sm-3">
                        <div class="user-avatar" id="userProfilePhoto">
                            <!-- profile picture-->
                            <partial name="_UserProfilePhoto" model="@Model.CurrentUser" />
                        </div>
                    </div>
                    <div class="col-lg-10 col-sm-9">
                        <div class="timeline-info">
                            <ul>
                                <li class="admin-name">
                                    <h5 class="admin-name">
                                        <a style="color: #088dcd;font-size: 20px;font-weight: 500;margin-top:5px"
                                           asp-controller="Person" asp-action="Profile"
                                           asp-route-UserName="@Model.CurrentUser.UserName">
                                            @Model.CurrentUser.FirstName @Model.CurrentUser.LastName
                                        </a>
                                    </h5>
                                </li>
                                <li>
                                    <a class="active" href="time-line.html" title="" data-ripple="">time line</a>
                                    <a class="" href="timeline-photos.html" title="" data-ripple="">Photos</a>
                                    <a class="" href="timeline-videos.html" title="" data-ripple="">Videos</a>
                                    <a class="" href="timeline-friends.html" title="" data-ripple="">Friends</a>
                                    <a class="" href="timeline-groups.html" title="" data-ripple="">Groups</a>
                                    <a class="" href="about.html" title="" data-ripple="">about</a>
                                    <a class="" href="#" title="" data-ripple="">more</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- top area -->

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <h4 class="widget-title">Intro</h4>
                                        <ul class="">
                                            <li>Bio: @Model.CurrentUser.Bio</li>
                                            <li>Birthday: @Model.CurrentUser.BirthDay.ToString("MMMM dd, yyyy")</li>
                                            <li>Geneder: @Model.CurrentUser.Gender</li>

                                            @{ if (SignInManager.IsSignedIn(User) && User.Identity.Name == @Model.CurrentUser.UserName)
                                                {
                                                    <li style="color:blue"> <partial name="_EditUserInfoPartial" model="@Model.CurrentUser.UserName" /></li>
                                                }
                                            }
                                        </ul>
                                    </div>

                                    <!-- kan mknha hna Shortcuts -->

                                    @{ if (SignInManager.IsSignedIn(User) && User.Identity.Name == @Model.CurrentUser.UserName)
                                        {
                                            <div class="widget stick-widget">
                                                <h4 class="widget-title">Friend Requests</h4>
                                                <ul class="followers ps-container ps-theme-default ps-active-y" data-ps-id="f512aee4-4839-66ab-9c89-7b48ad96d666">
                                                    @{
                                                        if (@Model.myFriendsRequest.Count > 0)
                                                        {
                                                            foreach (var item in Model.myFriendsRequest)
                                                            {
                                                                <partial name="_FriendRequestsViewPartial" model="@item" />
                                                            }
                                                        }
                                                    }
                                                </ul>
                                            </div><!-- who's following -->
                                        }
                                    }
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                @if (User.Identity.Name == Model.CurrentUser.UserName)
                                {
                                    <div class="central-meta">
                                        @* Here we send New Post as Model to the partial view so we can work on it there *@
                                        <partial name="_CreatePostBox" model="new Post()" />
                                    </div><!-- add post new box -->
                                }

                                <div class="loadMore">
                                    <div id="MyPosts">
                                        <partial name="GetMyPosts" model="Model.MyPosts" />
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
                                    <div class="widget">
                                        <div class="banner medium-opacity bluesh">
                                            <div style="background-image: url(images/resources/baner-widgetbg.jpeg)" class="bg-image"></div>
                                            <div class="baner-top">
                                                <span><img src="images\book-icon.png" alt=""></span>
                                                <i class="fa fa-ellipsis-h"></i>
                                            </div>
                                            <div class="banermeta">
                                                <p>
                                                    create your own favourit page.
                                                </p>
                                                <span>like them all</span>
                                                <a href="#" title="" data-ripple="">start now!</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget friend-list stick-widget">
                                        <h4 class="widget-title">Friends</h4>
                                        <div id="searchDir"></div>
                                        <!-- friends list -->
                                        <ul id="people-list">
                                            @{
                                                if (@Model.myFriends.Count > 0)
                                                {
                                                    foreach (var item in Model.myFriends)
                                                    {
                                                        <li id="@item.Id">
                                                            <figure>
                                                                <img src=@item.userphoto style="width:40px;height:40px;" alt="">
                                                                <span class="status f-online"></span>
                                                            </figure>
                                                            <div class="friendz-meta">
                                                                <partial name="_LinkToUserProfile" model="@item" />
                                                                @{
                                                                    if (SignInManager.IsSignedIn(User) && User.Identity.Name == @Model.CurrentUser.UserName)
                                                                    {
                                                                        <i><partial name="_RemoveFriendPartial" model="@item" /></i>
                                                                    }
                                                                }
                                                            </div>
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ul>
                                        <!--Chat-->
                                        @*<div class="chat-box">
                                                <div class="chat-head">
                                                    <span class="status f-online"></span>
                                                    <h6>Bucky Barnes</h6>
                                                    <div class="more">
                                                        <span><i class="ti-more-alt"></i></span>
                                                        <span class="close-mesage"><i class="ti-close"></i></span>
                                                    </div>
                                                </div>
                                                <div class="chat-list">
                                                    <ul>
                                                        <li class="me">
                                                            <div class="chat-thumb"><img src="images\resources\chatlist1.jpeg" alt=""></div>
                                                            <div class="notification-event">
                                                                <span class="chat-message-item">
                                                                    Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                                                </span>
                                                                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                            </div>
                                                        </li>
                                                        <li class="you">
                                                            <div class="chat-thumb"><img src="images\resources\chatlist2.jpeg" alt=""></div>
                                                            <div class="notification-event">
                                                                <span class="chat-message-item">
                                                                    Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                                                </span>
                                                                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                            </div>
                                                        </li>
                                                        <li class="me">
                                                            <div class="chat-thumb"><img src="images\resources\chatlist1.jpeg" alt=""></div>
                                                            <div class="notification-event">
                                                                <span class="chat-message-item">
                                                                    Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                                                </span>
                                                                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <form class="text-box">
                                                        <textarea placeholder="Post enter to post..."></textarea>
                                                        <div class="add-smiles">
                                                            <span title="add icon" class="em em-expressionless"></span>
                                                        </div>
                                                        <div class="smiles-bunch">
                                                            <i class="em em---1"></i>
                                                            <i class="em em-smiley"></i>
                                                            <i class="em em-anguished"></i>
                                                            <i class="em em-laughing"></i>
                                                            <i class="em em-angry"></i>
                                                            <i class="em em-astonished"></i>
                                                            <i class="em em-blush"></i>
                                                            <i class="em em-disappointed"></i>
                                                            <i class="em em-worried"></i>
                                                            <i class="em em-kissing_heart"></i>
                                                            <i class="em em-rage"></i>
                                                            <i class="em em-stuck_out_tongue"></i>
                                                        </div>
                                                        <button type="submit"></button>
                                                    </form>
                                                </div>
                                            </div>*@
                                    </div><!-- friends list sidebar -->
                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="widget">
                        <div class="foot-logo">
                            <div class="logo">
                                <a href="index.html" title=""><img src="images\logo.png" alt=""></a>
                            </div>
                            <p>
                                The trio took this simple idea and built it into the world’s leading carpooling platform.
                            </p>
                        </div>
                        <ul class="location">
                            <li>
                                <i class="ti-map-alt"></i>
                                <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <p>+1-56-346 345</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>follow</h4></div>
                        <ul class="list-style">
                            <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
                            <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
                            <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
                            <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
                            <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>Navigate</h4></div>
                        <ul class="list-style">
                            <li><a href="about.html" title="">about us</a></li>
                            <li><a href="contact.html" title="">contact us</a></li>
                            <li><a href="terms.html" title="">terms & Conditions</a></li>
                            <li><a href="#" title="">RSS syndication</a></li>
                            <li><a href="sitemap.html" title="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>useful links</h4></div>
                        <ul class="list-style">
                            <li><a href="#" title="">leasing</a></li>
                            <li><a href="#" title="">submit route</a></li>
                            <li><a href="#" title="">how does it work?</a></li>
                            <li><a href="#" title="">agent listings</a></li>
                            <li><a href="#" title="">view All</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>download apps</h4></div>
                        <ul class="colla-apps">
                            <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                            <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                            <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer -->
    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">© Winku 2018. All rights reserved.</span>
                    <i><img src="images\credit-cards.png" alt=""></i>
                </div>
            </div>
        </div>
    </div>
</div>