@model IEnumerable<FaceBook_InitialVersion.Models.Post>

@using Microsoft.AspNetCore.Identity

@inject UserManager<Person> UserManager


@foreach (var item in Model)
{
    if (item.State == Enums.PostStatus.Active)
    {
        <div class="central-meta item">
            <div class="user-post">
                <div class="friend-info">
                    <figure>
                        <img src="@item.User.userphoto" width="60" height="60" alt="">
                    </figure>
                    <div class="friend-name">
                        <ins><a href="#" title="">@item.User.FirstName @item.User.LastName</a></ins>
                        <span>published: @item.CreationDate.ToString("MMMM dd, yyyy") at @item.CreationDate.ToString("HH:mm tt")</span>
                    </div>
                    <div class="post-meta">
                        @*<img src="images\resources\user-post.jpeg" alt="">*@
                        <div class="description">

                            <p>@item.Body</p>
                        </div>
                        <div class="we-video-info">
                            <ul>
                                <li>
                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                    <a class="counter" style="text-decoration:none !important;" href="http://www.google.com"><ins>@item.UserPostComments.Where(c => c.Comment.State == Enums.CommentStatus.Active)?.Count()</ins></a>

                                </li>
                                <li>
                                    @* Show likes counter *@
                                    @if (!item.UserPostLikes.Where(u => u.PostID == item.ID && u.UserID == UserManager.GetUserId(User)).Any())
                                    {

                                        <a asp-action="Like" asp-route-id="@item.ID"
                                           data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace" data-method="get">
                                            <span class="like" @*data-toggle="tooltip" *@ title="like">
                                                <i class="ti-heart text-red"></i>
                                            </span>
                                        </a>
                                        <a class="counter" style="text-decoration:none !important;" href="http://www.google.com"><ins>@item.UserPostLikes.Where(p => p.PostID == item.ID)?.Count()</ins></a>

                                    }
                                    else
                                    {
                                        <a asp-action="Like" asp-route-id="@item.ID"
                                           data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace" data-method="get">
                                            <span class="dislike" @*data-toggle="tooltip" *@ title="dislike">
                                                <i class="ti-heart-broken"></i>
                                            </span>
                                        </a>
                                        <a class="counter" style="text-decoration:none !important;" href="http://www.google.com"><ins>@item.UserPostLikes.Where(p => p.PostID == item.ID)?.Count()</ins></a>


                                    }

                                </li>
                                <li>
                                    @* Show Delete icon for the user if he wrote that post *@
                                    @if (item.UserID == @UserManager.Users
                                              .Where(u => u.UserName == User.Identity.Name)
                                              .Select(u => u.Id)
                                              .FirstOrDefault())
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.ID"
                                           data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace" data-method="get">

                                            <span class="trash" title="delete">
                                                <i class="fa fa-trash-o"></i>
                                            </span>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="coment-area">
                    <ul class="we-comet">
                        @* Check if the post has comments then show these comments *@
                        @if (item.UserPostComments?.Count > 0)
                        {
                            @foreach (var comment in item.UserPostComments.OrderBy(c => c.Comment.CreationDate))
                            {
                                if (comment.Comment.State == Enums.CommentStatus.Active)
                                {
                                    <li>
                                        @*<partial name="_CommentPartial" model="@comment" />*@
                                        <div class="comet-avatar">
                                            <img src="@comment.User.userphoto" width="45" height="45" alt="">
                                        </div>
                                        <div class="we-comment">
                                            <div class="coment-head">
                                                <h5><a href="time-line.html" title="">@comment.User.FirstName @comment.User.LastName</a></h5>
                                                <span>@comment.Comment.CreationDate.ToString("MMMM dd,yyyy") at @comment.Comment.CreationDate.ToString("HH:mm tt")</span>
                                                @if (comment.userID == @UserManager.Users
                                                       .Where(u => u.UserName == User.Identity.Name)
                                                       .Select(u => u.Id)
                                                       .FirstOrDefault())
                                                {
                                                    <a asp-action="DeleteComment" asp-controller="Posts" asp-route-id="@comment.CommentID"
                                                       data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace" data-method="get" title="delete comment"><i class="fa fa-trash-o"></i></a>
                                                }
                                            </div>
                                            <p>@comment.Comment.Body</p>
                                        </div>
                                    </li>
                                }
                            }
                        }
                        <li>
                            <a href="#" title="" class="showmore underline">more comments</a>
                        </li>
                        <li class="post-comment">
                            <div class="comet-avatar">
                                <img src="@UserManager.Users.Where(u => u.UserName == User.Identity.Name).Select(u => u.userphoto).FirstOrDefault()" width="45" height="45" alt="">
                            </div>
                            <div class="post-comt-box">
                                <form asp-action="AddComment" asp-controller="Posts"
                                      data-ajax="true" data-ajax-update="#MyPosts" data-ajax-mode="replace"
                                      data-method="post" asp-route-postId="@item.ID">
                                    <textarea placeholder="Post your comment" name="commentBody"></textarea>
                                    <div class="add-smiles">
                                        <span class="em em-expressionless" title="add icon"></span>
                                    </div>
                                    <div class="smiles-bunch">
                                        <i class="em em---1"></i>
                                        <i class="em em-smiley"></i>
                                        <i class="em em-anguished"></i>
                                        <i class="em em-laughing"></i>
                                        <i class="em em-angry"></i>
                                        <i class="em em-astonished"></i>
                                        <i class="em em-blush"></i>
                                        <i class="em em-disappointed"></i>
                                        <i class="em em-worried"></i>
                                        <i class="em em-kissing_heart"></i>
                                        <i class="em em-rage"></i>
                                        <i class="em em-stuck_out_tongue"></i>
                                    </div>
                                    <button type="submit"></button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    }
}

